@import sprites

*[class^='btn']
  text-decoration none
  position relative
  display inline-block
  margin-left 3px
  transition background .2s
  outline none
  &:after, &:before
    content ''
    position absolute
    top 0
    background-repeat no-repeat
    transition background .2s
    height 100%

.btn-small
  padding 0 10px
  height 32px
  line-height 32px
  color #404040
  background-image $btn-small-bg
  &:before, &:after
    width 4px

  &:before
    left -4px
    background-image $btn-small-left

  &:after
    right -4px
    background-image $btn-small-right

  &:hover
    background-image $btn-small-hover-bg
    &:before
      background-image $btn-small-hover-left
    &:after
      background-image $btn-small-hover-right

  &:focus
    background-image $btn-small-focus-bg
    &:before
      background-image $btn-small-focus-left
    &:after
      background-image $btn-small-focus-right

    &:active
      background-image $btn-small-clicked-bg
      &:before
        background-image $btn-small-clicked-left
      &:after
        background-image $btn-small-clicked-right

  &.disabled
    // for IE
    cursor default

    pointer-events none
    color #808080
    background-image $btn-small-disabled-bg !important // ie hack
    &:before
      background-image $btn-small-disabled-left !important // ie hack
    &:after
      background-image $btn-small-disabled-right !important // ie hack

.btn-green-corner
  padding 0 15px
  height 38px
  line-height 38px

  color white
  background-image $green-corner-bg

  &:before
    left -5px
    width 5px
    background-image $green-corner-left

  &:after
    right -14px
    width 14px
    background-image $green-corner-right

  &:hover
    background-image $green-corner-hover-bg
    &:before
      background-image $green-corner-hover-left
    &:after
      background-image $green-corner-hover-right

  &:focus
    background-image $green-corner-focus-bg
    &:before
      background-image $green-corner-focus-left
    &:after
      background-image $green-corner-focus-right

    &:active
      background-image $green-corner-active-bg
      &:before
        background-image $green-corner-active-left
      &:after
        background-image: $green-corner-active-right

input[type="radio"]
  display: none
  &.checked + a .control
    background-position 18px 0 !important // ie hack
  & + a:hover .control
    background-position 36px 0
  & + a:focus
    outline none
    .control
      background-position 54px 0
  & + a
    text-decoration none
    color #404040
    font-size 14px
    .control
      display: inline-block
      width 18px
      height 18px
      margin -4px 4px 0 0
      cursor pointer
      vertical-align middle
      background-image url(../img/radio_sprite.png)
      background-position 0 0

.matrix-input
  height 50px
  width 50px
  font-size 12px
  padding 15px 0 0 10px

  // ie
  border-color: #d9d9d9
  border-top-color #b2b2b2

  border-width 1px
  border-style solid
  border-color rgba(0, 0, 0, .15)
  border-top-color rgba(0, 0, 0, .3)
  transition border .2s, outline .2s

  &:focus
    outline 2px solid #5199db

  &.disabled
    color #808080
    background #f2f2f2
