@import reset
@import fonts
@import controls

html, body
  font-family 'SegoeUIRegular'
  font-size 14px
  width 100%
  height 100%

*
  box-sizing border-box

*[class^="icon-"], [class*=" icon-"]
  font-family "KonturIconic"
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  margin-right 5px

.icon-clear:before
  content '\e012'

.icon-swap:before
  content '\e01f'

.icon-plus:before
  content '\e00d'

.icon-minus:before
  content '\e01e'

p
  margin-top 5px
  &:first-child
    margin-top 0

.sidebar
  background-color #BCBCBC
  display inline
  float left
  padding-left 30px
  width 350px
  height 100%

  &__general-action
    margin-top 30px

  &__utils
    margin-top 40px

  &__matrix-control
    margin-top 60px
    td
      padding-top 10px
      &.legend
        color #404040
        padding-left 10px

.matrix
  display: inline-block
  position: relative
  &:after, &:before
    content ''
    position absolute
    border 3px solid #808080
    display: block
    height 100%
    top 0
    margin-top -10px
    padding-bottom 16px
    width 7px
  &:after
    left -10px
    border-right none
  &:before
    right -10px
    border-left none

  &-grid
    position: relative
    left 15px
    td
      padding 30px
      position: relative

  matrix_legend()
    font-size 24px
    color #808080
    position: absolute
    display: inline-block

  &__legend-bottom
    matrix_legend()
    top 95%
    left 50%
    margin-left -12px
  &__legend-right
    matrix_legend()
    top 50%
    left 100%
    margin-top -6px